.Header{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.leftsidebar{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.para{
    font-size: 30px;
    margin-top: 1px;
    font-weight: bold;
}
.enter{
height: 35px;
padding: 8px 20px;
background-color: #00d09c;
border-radius: 8px;
font-size: 25px;
}
.enter a{
    text-decoration: none;
    color: rgb(246, 250, 246);
}
  
   


.button{
height: 25px;
padding: 15px 18px;
background-color: #00d09c;
border-radius: 8px;
width: 130px;
}
.para1{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: -2px;
    font-weight: bold;
}
.middle{
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    flex-basis: 50%;
}
.landing{
    padding: 15px 10px;
    height: 100vh;
    width: 100%;
}

.button a{
    text-decoration: none;
    color: aliceblue;
    }
    .theorytotal{
        margin: 40px;
    }
.theory{
    display: contents;
    margin: 30px;
    
}
.theoryp{
    font-size: 30px;
    text-decoration: solid black;
    margin: left;
    padding: auto;
}
.Pcard{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    
}
.card{

    width: 220px;
    height: 150px;
    padding: 25px 15px;
    border: 1px solid #ecedef;
    box-shadow: 0 1px 5px 3px#0000001a;
    margin: 20px 30px;
    border-radius: 20px;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.searchbox{
   
    height: 30px;
    padding: 6px;
    border: 1px solid #ecedef;
    box-shadow: 0 1px 5px 1px#0000001a;
    border-radius: 6px;
    flex-direction: row;
    display: flex;
}
.search{
    height: 30px;    
    width: 350px;
    border: none;
    }
    .para2{
        text-align: left;
        font-weight: 600;
        font-size: 18px;
        color: #44475b;
        margin-top: 60px;
    }
    .cardimg{
width: 50px;
height: 50px;
margin-left: -150px;
    }